body {
  margin: 0;
}
nav {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 75px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  transition: linear 150ms;
}
nav.scroll {
  background-color: rgba(0,0,0,0.99);
  color: black;
  transition: linear 150ms;
}
.bottom_links {
  text-align: center;
  border-top: 1px solid white;
  background-color: rgba(0,0,0,0.99);
  position: relative;
  top: 45px;
  height: 40px;
}
.bottom_links a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin-left: 10px;
  position: relative;
  top: 9px;
  transition: 100ms;
}
.bottom_links a:hover {
  opacity: 0.7;
  transition: 100ms;
}
.logo_1 {
  position: relative;
  margin: auto;
  top: 20px;
  left: 20px;
  font-family: "Lucida Calligraphy";
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 8px;
  transition: 200ms;
}
.header_links {
  position: relative;
  font-size: 20px;
  color: white;
  text-decoration: none;
  top: 27px;
  margin-right: 25px;
  transition: 200ms;
}
.header_links:hover {
  opacity: 0.5;
  transition: 200ms;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  visibility: hidden;
  opacity: 0;
  z-index: 5000;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.modal_box {
  margin: 30px auto;
  padding: 15px;
  background: white;
  width: 700px;
  height: 555px;
  border-radius: 15px;
  position: relative;
  z-index: 5000;
}
.close {
  position: relative;
  left: 300px;
  top: -40px;
  float: right;
  padding-right: 10px;
  font-size: 70px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.join_now {
  position: relative;
  margin-right: 20px;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  top: 27px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 1) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 4px solid rgba(255, 255, 255, 1);
  padding: 15px;
  transition: 100ms;
}
.join_now:hover {
  color: rgba(32, 32, 32, 0.83);
  background-position: left bottom;
  transition: linear 100ms;
}
.background_1 {
  margin: 0;
  background: linear-gradient(to right, rgba(4, 3, 2, 0.93), rgba(24, 24, 24, 0.48), rgba(4, 3, 2, 0.93)),  url('images/background1.jpg');
  background-color: #222222;
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  height: 650px;
}
.content_1 {
  position: absolute;
  top: 145px;
  width: 100%;
  margin: 0;
  text-align: center;
}
.heading {
  font-size: 50px;
  color: #ffffff;
  text-shadow: 2px 4px 4px #000000;
  line-height: 60px;
}
.heading_1 {
  color: white;
  text-shadow: 2px 4px 4px #000000;
  font-size: 20px;
}
.know_more {
  position: relative;
  top: 65px;
  font-size: 20px;
  padding: 40px;
  color: white;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.9) 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  text-decoration: none;
  border: 5px solid white;
  transition: linear 100ms;
}
.know_more:hover {
  color: rgba(32, 32, 32, 0.9);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.6);
  background-position: left bottom;
  transition: linear 100ms;
}
.background_2 {
  position: relative;
  margin: auto;
  max-width: 1500px;
  background-color: azure;
  padding: 10px;
  color: rgba(0,0,0,0.8);
  text-align: center;
  height: 760px;
}
.background_2_img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  padding: 15px;
}
.background_2 table {
  max-width: 1300px;
  position: relative;
  top: 40px;
  margin: auto;
}
.underline_table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 3px;
  background-color: #222222;
  color: green;
  text-align: center;
  vertical-align: middle;
  transition: 100ms;
}
.table_1 td {
  width: 15%;
  cursor: pointer;
}
td:hover .underline_table {
  -webkit-transform: scaleX(1.5);
  -moz-transform: scaleX(1.5);
  -ms-transform: scaleX(1.5);
  -o-transform: scaleX(1.5);
  transform: scaleX(1.5);
  transition: 100ms;
}
.tab_hidden {
  visibility: hidden;
  position: relative;
  top: 9px;
  font-size: 15px;
  transition: 200ms;
}
td:hover .tab_hidden {
  visibility: visible;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
  transition: 200ms;
}
.background_3 {
  position: relative;
  margin: auto;
  padding: 15px;
  font-family: Garamond;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(58, 58, 58, 0.73), rgba(0, 0, 0, 0.87)), url('images/building.jpg');
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  height: 1100px;
}
.background_3 table {
  margin: auto;
}
.underline_heading {
  width: 400px;
  height: 3px;
  color: white;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.background_4 {
  margin: auto;
  background: azure;
  padding: 15px;
  position: relative;
  height: 330px;
}
.back_logo {
  width: 150px;
  height: 200px;
}
.background_4 td {
  background: linear-gradient(to right, rgba(100, 100, 100, 0.77), rgba(51, 51, 51, 0.8));
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.7), 0 8px 22px 0 rgba(0,0,0,0.3);
  opacity: 0.9;
  z-index: 500;
}
.background_5 {
  margin: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(21, 21, 21, 0.91), rgba(0, 0, 0, 0.9)), url('images/pro.jpg');
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 15px;
  height: 670px;
}
.background_6 {
  margin: 0;
  background: rgba(6, 6, 6, 0.77);
  position: relative;
  padding: 15px;
  height: 255px;
}
.pro_card {
  width: 300px;
  height: 350px;
  vertical-align: middle;
  box-shadow: 0 6px 20px 0 black, 0 12px 24px 0 black;
  background: linear-gradient(to right, #969696, #3c3c3c);
  opacity: 0.7;
}
.pro_card h1 {
  vertical-align: middle;
  font-size: 60px;
  font-family: inherit;
  color: rgba(6, 6, 6, 0.77);
  text-shadow: 0px 0px 15px white;
}
.footer_icons a {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  color: white;
}
.social_icons {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 100ms;
}
.social_icons:hover {
  opacity: 0.6;
  box-shadow: 0px 5px 15px 0 rgba(0,0,0,0.6);
  transition: 100ms;
}
.link_underline {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  color: green;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
  transition: linear 100ms;
}
.links:hover .link_underline {
  visibility: visible;
  opacity: 0.7;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -0-transform: translateY(-3px);
  transform: translateY(-3px);
  transition: 100ms;
}
.heading_underline {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 230px;
  height: 3px;
  background-color: #ffffff;
  color: green;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
  transition: 100ms;
}
.heading_underline_1 {
  width: 250px;
}
.heading_underline_1:hover .heading_underline {
  visibility: visible;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  transition: 100ms;
}
.learn_more {
  position: relative;
  top: 15px;
  padding: 30px;
  font-size: 20px;
  border: 5px solid green;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.6);
  text-shadow: 2px 5px 5px black;
  color: white;
  text-decoration: none;
  transition: 200ms;
}
.learn_more:hover {
  background-color: green;
  transition: 200ms;
}
.underline_heading_2 {
  width: 370px;
  height: 3px;
  color: black;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.underline_heading_3 {
  width: 530px;
  height: 3px;
  position: relative;
  top: 10px;
  -webkit-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  margin-bottom: 35px;
  color: white;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.underline_heading_4 {
  width: 350px;
  height: 3px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  margin-left: auto;
  margin-right: auto;
}
/*Login Page*/
.back_1 {
  margin: 0;
  padding: 15px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(65, 65, 65, 0.79), rgba(0, 0, 0, 0.95)), url('images/back1.jpg') no-repeat center center fixed;
  background-size: cover;
}
.login_box {
  position: relative;
  margin: 10px auto;
  width: 600px;
  height: 565px;
  padding: 15px;
  color: white;
  background: rgba(0,0,0,0.7);
}
.label_1 {
  font-size: 24px;
}
.underline_login {
  position: relative;
  height: 5px;
  width: 90%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  background-color: white;
}
.input_1 {
  width: 80%;
  padding: 12px;
  font-family: inherit;
  border-radius: 5px;
  border: 3px solid #cccccc;
}
.login_button {
  width: 300px;
  padding: 20px;
  font-size: 32px;
  font-weight: bolder;
  font-family: inherit;
  background: linear-gradient(to left, transparent 50%, #cccccc 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 5px solid #cccccc;
  color: white;
  cursor: pointer;
  transition: linear 100ms;
}
.login_button:hover {
  color: black;
  background-position: left bottom;
  transition: linear 100ms;
}
.link_1 {
  width: 130px;
  color: white;
  text-decoration: none;
  position: relative;
  top: 25px;
}
.link_2 {
  width: 240px;
  color: white;
  text-decoration: none;
  position: relative;
  top: 20px;
}
.link_1_underline {
  width: 130px;
  margin: auto;
  height: 3px;
  background-color: white;
  position: relative;
  top: 8px;
  visibility: hidden;
}
.link_1:hover .link_1_underline {
  visibility: visible;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  transition: linear 100ms;
}
.link_2_underline {
  width: 240px;
  margin: auto;
  height: 3px;
  background-color: white;
  position: relative;
  top: 8px;
  visibility: hidden;
}
.link_2:hover .link_2_underline {
  visibility: visible;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  transition: linear 100ms;
}
/*Sign Up Page*/
.back_2 {
  margin: 0;
  padding: 15px;
  background: linear-gradient(to right, rgba(5, 5, 5, 0.82), rgba(76, 76, 76, 0.94), rgba(5, 5, 5, 0.82)), url('images/backg2.jpg') no-repeat center center fixed;
  background-size: cover;
}
.signup_box {
  position: relative;
  color: white;
  width: 1200px;
  height: 760px;
  padding: 15px;
  margin: 10px auto;
  background: linear-gradient(to right, rgba(0,0,0,0.7), black);
}
.box_1 {
  width: 50%;
  float: left;
}
.input_2 {
  position: relative;
  width: 70%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 5px;
  border: 3px solid rgba(108,108,108,0.92);
  font-family: inherit;
}
.signup_button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  font-size: 27px;
  font-weight: bolder;
  color: white;
  border: 5px solid #cccccc;
  font-family: inherit;
  background: linear-gradient(to left, transparent 50%, #cccccc 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: linear 100ms;
}
.signup_button:hover {
  color: black;
  background-position: left bottom;
  transition: linear 100ms;
}
.verified {
  width: 300px;
  height: 300px;
  vertical-align: middle;
}
html{
  font-family: 'Lato'!important;
}
/*About Us*/
.back_about {
  position: relative;
  margin: 0;
  background: linear-gradient(to right, rgba(21, 21, 21, 0.92), rgba(56, 56, 56, 0.88), rgba(21, 21, 21, 0.92));
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding: 15px;
  height: 41rem;
}
.about_box {
  position: relative;
  top: 4rem;
  margin: 0;
  padding: 12px 12px 12px 12px;
}
.about_box h2 {
  color: white;
}
.about_underline {
  width: 400px;
  height: 6px;
  position: relative;
  background-color: white;
}
.about_box table {
  margin: auto;
  position: relative;
  top: 1.5rem;
}
.about_photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px solid white;
  box-shadow: 0 8px 23px 0 rgba(0,0,0,0.7), 0 10px 30px 0 rgba(0,0,0,0.4);
  filter: sepia(40%);
}
/*Homepage (homepage.html)*/
.homepage_back {
  margin: 0;
  position: relative;
  background: #fff;
  height: 47rem;
}
.side_panel {
  width: 20%;
  float: left;
  position: relative;
  left: 0;
  color: white;
  top: 99px;
  background: rgba(34, 34, 34, 1);
  height: 40.8rem;
}
.side_panel a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.1rem;
  transition: 150ms;
}
.side_panel a:hover {
  background-color: white;
  color: black;
  transition: 150ms;
}
.panel_2 {
  margin: 0;
  width: 80%;
  background-color: #a3a3a3;
  height: 40.8rem;
  position: relative;
  top: 99px;
  float: right;
}
/*Home (home.html)*/
.back_home_1 {
  margin: 0;
  height: 900px;
  padding: 15px;
  color: azure;
  position: relative;
  background: linear-gradient(to right, rgba(131, 131, 131, 0.75), rgba(131, 131, 131, 0.75)), url('images/homeback.jpg');
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.search_box {
  position: relative;
  top: 175px;
}
.search_input {
  width: 80%;
  float: left;
  font-family: monospace;
  padding: 16px;
  border: 2px solid #222;
  border-right: none;
  box-sizing: border-box;
}
.search_button {
  position: relative;
  width: 20%;
  height: 51px;
  background-color: #999999;
  font-size: 17px;
  cursor: pointer;
  border: 2px solid #222;
  transition: 200ms;
}
.search_button::after {
  content: "";
  clear: both;
  display: table;
}
.search_button:hover {
  background: #646464;
  transition: 200ms;
}
.all_underline {
  position: relative;
  top: 60px;
  margin: 5px auto;
  height: 3px;
  width: 100%;
  background-color: azure;
}
.all_underline_2 {
  position: relative;
  top: 220px;
  margin: 5px auto;
  height: 3px;
  width: 100%;
  background-color: azure;
}
.back_inside {
  position: relative;
  margin: 0;
  height: 720px;
  top: 200px;
}
/*Job Or Hire (joborhire.html)*/
body, html {
  height: 100%;
}
.job_back_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url("images/job.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.job_back_1 table {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.choose_box {
  width: 25rem;
  height: 30rem;
  padding-top: 20px;
  background: linear-gradient(to right, rgba(27, 27, 27, 0.87), rgba(76, 76, 76, 0.85));
  opacity: 0.8;
  vertical-align: middle;
  color: #fff;
  transition: 200ms;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.choose_box:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.6), 0 3px 12px 0 rgba(0,0,0,0.2);
  transition: 200ms;
}
